streamlit
pandas
requests
beautifulsoup4
nltk
contractions
pyspellchecker
ipython
googletrans==4.0.0-rc1
langdetect
seaborn
spacy
networkx
scikit-learn
wordcloud
matplotlib
torch
datasets
praw
transformers
tensorflow
tensorflow-hub
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl