streamlit
pandas
requests
beautifulsoup4
nltk
contractions
pyspellchecker
ipython
googletrans==4.0.0-rc1
langdetect
seaborn
spacy
networkx
scikit-learn
wordcloud
matplotlib
torch
datasets
praw
transformers
tensorflow
tensorflow-hub
